.Form {
  border: 1px solid #868686;
  padding: 20px;
}
.buttonSubmit {
  background-color: rgb(0, 113, 121);
  color: #ffffff;
  margin-top: 10px;
  min-width: 100px;
  border: 1px solid #868686;
}

.Label {
  display: block;
}

.Label:not(:last-child) {
  margin-bottom: 10px;
}

.Input {
  margin-left: 10px;
}
